/* verticle line(s) splitting the content */
.vl {
    border: 2px solid black;
    margin-left: 10px;
    height: 100%;
}

/* circle greeter */
.circle-gradient {
    background:linear-gradient(to top, rgb(52, 36, 0), rgb(255, 206, 91));
    border-radius: 50%;
    width: 50%;

    color: white;
    font-size: 50px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
    
    display: flex;
  }

.content-container {
    display:flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

/* form margins */
.form-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* submit button styling specifications */
.submit-button {
    background-color: #1d1d1d;
    color: white;
    border-radius: 3px;
    border-width: 1px;
    width: 100%;
    margin-top:10px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #5e5e5e;
    transition-duration: 0.8s;
}

form {
    display: inline-block;
    margin: 50px; 
}

/* input field styling specifications */
input {
    background-color: #f5f5f5;
    border-radius: 3px;
    border-width: 1px;
    font-size: 12px;
    height: 16px;
    margin-top: 10px;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    width: 100%;
}

/* content field styling specifications */
textarea {
    background-color: #f5f5f5;
    border-radius: 3px;
    border-width: 1px;
    font-size: 12px;
    margin-top: 10px;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    width: 100%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

