/* horizontal line(s) */
.hl {
    border: 2px solid black;
    width: 100%;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* styling for the dark mode toggle switch. When it is hovered, the mouse pointer will turn into a finger. */
.darkmode {
    cursor: pointer;
    display: inline-block;
    margin: 20px;
}

/* aligns items on the top navbar to the right and also adds margins to the top and bottom */
.nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* dark mode toggle, sets the body to white and black when the toggle function is called*/
body {
    background-color: white;
    font-family: sans-serif;
   
    height: 100%;
}